<p>
  calci works!
</p>
<input type="number"  [(ngModel)]='num1' name="num1" placeholder="enter number 1">
<input type="number" [(ngModel)]='num2' name="num2" placeholder="enter number 2">
<br>
<br>
<input type={{result}} [(ngModel)]='result' name="result" placeholder="result">
<br>
<br>
<br>
<br>
<br>
<br>


<button>1</button>
<button>2</button>
<button>3</button>
<button (click)="cal_add()">Addition</button>
<br>
<button>4</button>
<button>5</button>
<button>6</button>
<button (click)="cal_sub()">Subtraction</button>
<br>
<button>7</button>
<button>8</button>
<button>9</button>
<button (click)="cal_mul()"> Multiplication</button>
<br>
<button>0</button>
<!-- <button>=</button> -->

<button (click)="cal_div()"> Division</button>
<br>
<br>


